<!-- onde há chaves duplas ({{}}), será um conteúdo a ser substituído por uma variável -->

<div class="jubmotron">
    <div class="row">
        <div class="col-8">
            <div class="card" style="width: 100%; margin-bottom: 2.5vh;">
                <img class="card-img-top" src="{{img}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card"style="width: 100%; margin-bottom: 2.5vh;">
                <img class="card-img-top" src="{{img}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card" style="width: 100%; margin-bottom: 2.5vh;">
                <img class="card-img-top" src="{{img}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

        </div>
        <div class="col-4  bg-light">
            <div class="card"style="width: 100%; margin-bottom: 2.5vh;">
                <div class="card-body bg-white" style="position: fixed; border-radius: 16px;">
                  <h5 class="card-title" style="text-align: center;">como nos apoiar:</h5>
                  <div class="row bg-lig" style="padding:  1vw;">
                    <p>Selecione um valor</p>
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                      <option selected>R$25,00</option>
                      <option value="1">R$50,00</option>
                      <option value="2">R$75,00</option>
                      <option value="3">R$100,00</option>
                      <option value="4">Outro!!</option>
                    </select>

                    <a href="#" class="btn btn-success">APOIE-NOS</a>
                  </div>
                 
                </div>
            </div>

        </div>
    </div>
</div>