<!-- onde há chaves duplas ({{}}), será um conteúdo a ser substituído por uma variável -->

<div class="container">
    <div class="row">
        <div class="col-8">
            {{posts}}
        </div>
        <div class="col-4 bg-light">
            <div style="text-align: center; padding: 1.5vh;">
                <h5>Links úteis</h5>
                <hr>
                <a href="https://facebook.com/Jovensperegrinos" target="_Blank" class="btn btn-primary">Nosso facebook</a>
                <br>
                <br>
                <a href="https://instagram.com/jperegrinos" target="_Blank" class="btn btn-danger">Nosso instagram</a>

            </div>
            
        </div>
    </div>
</div>